body{
margin:0;
}
/**************************Toverto Header******************/
.tv-header {
    background:#0c0c0c;
    z-index: 100;
    position: relative;
	position: fixed;
    width: 100%;
    top: 0px;
}
.inner-tv-header{
    position: relative;
}
.tv-menu {
    float: right;
    padding: 0px;
    margin: 24px 0px;
	display:block;
}
.tv-menu li {
    float: left;
    font-size: 16px;
    list-style: none;
    padding: 10px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight:600;
    margin: 0px 26px;
}

.tv-menu li a:hover {
    border-bottom: 2px solid #f12524;
    padding: 8px 0px;
    transition: 0.5s;
}
.tv-menu a {
    color: #fff;
    text-decoration: none;
	padding: 24px 0px;
}
.logo-black {
    width: 64px;
    margin: 4px 0px 0px 0px;
}
/**************************End Toverto Header******************/


/************************* media query **********************/

@media screen and (min-width:768px){
	.tv-menu {
	display:block !important;
}
 }
@media screen and (max-width:767px){
	.tv-title {
    font-size: 62px !important;
	}
	.tv-menu {
    display: none;
}
	.fa-bars.menu-bar {
    font-size: 44px;
    color: #fff;
	display:block !important;
	position: absolute;
    top: 0px;
    right: 0px;
	padding: 22px 10px;
} 
	.tv-menu {
    width: 100%;
}
.tv-menu li {
    width: 100%;
    text-align: center;
    padding: 32px 0px;
	margin: 0px;
}
}
/****************End Media Query ***********************/


/********************************main section *************************************/
.banner-img {
    width: 100%;
}
.banner-text {
    padding: 150px 0px 220px 0px;
    position: relative;
    width: 100%;
    color: #fff;
    z-index: 10;
    text-align: center;
    background:#000;
}
.tv-h1 {
    font-weight: normal;
	font-size: 56px;
}
.tv-title {
    text-align: center;
    font-size: 86px;
    position: relative;
    z-index: 10;
	margin: 30px 0px 0px 0px;
	height: 100px;
}
.main-banner {
    margin-top: 86px;
}